<header class="top-bar">
  <img src="/images/logo.png" alt="Logo" class="logo">
  <span class="logo-text">Paradise Island</span>
  <nav class="nav-links">
    <a href="/index" class="nav-button">Главная страница</a>
    <a href="/menu" class="nav-button">Меню</a>
    <a href="/about" class="nav-button">О нас</a>
    <a href="/galery" class="nav-button">Галерея воспоминаний</a>
    <a href="/comments" class="nav-button">Отзывы</a>
    <a href="/reserv" class="nav-button">Бронь</a>
  </nav>
  <a href="#" class="auth-button">Вход/Регистрация</a>
</header>